* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbarContainer {
  width: 100%;
  max-width: 100%;
}

.menu > li > a {
  color: black;
}

.navbar-end {
  visibility: hidden;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: 2vh;
}

.searchContainer > input {
  width: 80vw;
  max-width: 80vw;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 2vh;
  width: 100%;
  max-width: 100%;
}

.optionsContainer > div:first-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding-inline-start: 4.5vw;
  padding-block-end: 0.5vh;
}

.optionsContainer > div:first-child > p {
  font-weight: 500;
}

.optionsContainer > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  max-width: 100%;
  padding-inline: 2vw;
  box-shadow: 0px 2px rgba(103, 103, 103, 0.08);
  scroll-behavior: smooth;
}

.optionsContainer > div:nth-child(2)::-webkit-scrollbar {
  display: none;
}

.label-text {
  margin-inline-start: 2vw;
  margin-inline-end: 1.5vw;
}

.recipeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: 4vh;
  padding-block-end: 2vh;
  width: 100%;
  max-width: 100%;
  padding-inline: 5vw;
}

.card {
  height: 70vh;
  width: 100%;
  
}

.card-body {
  overflow: auto;
  scroll-behavior: smooth;
  padding: 0;
  padding-block: 2vh;
  padding-inline: 5vw;
}

.card-body::-webkit-scrollbar {
  display: none;
}

.card-title {
  padding: 0;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-block-end: 4vh;
}

.btnContainer > button {
  margin-inline: 5vw;
}

.recipesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: 4vh;
  padding-block-end: 2vh;
  width: 100%;
  max-width: 100%;
  padding-inline: 5vw;
}

.recipeInfoContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(203, 203, 203);
  padding: 10px;
}

.recipeInfoContainer > article {
  margin-bottom: 2vh;
}